.boost-section {
	position: relative;
	width: 100%;
	height: 280px;
	padding: 5em 2em;
	background-color: $Dark-Violet;
	background-image: url('../images/bg-boost-mobile.svg');
	background-position: center;
	background-size: cover;
	.boost-btn {
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	h4 {
		top: 35%;
		width: 100%;
		font-size: 2.6rem;
		font-weight: 700;
		text-align: center;
		color: #fff;
	}
	.boost-btn {
		top: 50%;
		margin-top: 2em;
	}
}
