.signup-section,
.login-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../images/advanced-stat-sm.svg');
	background-size: cover;
	background-position: center;
	.signup-section-text,
	.login-section-text {
		padding: 2em 1em;
		text-align: center;
		h1 {
			font-size: 3.4rem;
		}
		p {
			color: $Very-Dark-Blue;
			font-weight: 500;
			font-size: 1.8rem;
		}
	}
	form {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 90%;
		margin: 4em 4em 8em 4em;
		padding: 2em;
		border-radius: 20px;
		background-color: #ffffff;
		.form-box {
			display: flex;
			flex-direction: column;
			justify-content: start;
			margin: 1em 0;
			label {
				margin: 0.2em 0 0 0.2em;
				font-size: 1.8rem;
				font-weight: 500;
			}
			input {
				padding: 0.5em;
				border-radius: 5px;
				border: 1px solid rgba(0, 0, 0, 0.4);
				font-size: 1.8rem;
			}
			input:focus {
				border: 1px solid rgba(0, 0, 0, 0.4);
			}
			.error {
				display: none;
				margin-left: 0.2em;
				color: $Red;
				font-size: 1.4rem;
				font-style: italic;
			}
		}
		.signup-submit-btn,
		.login-submit-btn {
			padding: 1em 2em;
			margin: 1em 0;
			border: none;
			border-radius: 10px;
			background-color: $Cyan;
			color: #fff;
			font-size: 1.8rem;
			font-weight: 700;
		}
	}
}
