.show-menu {
	left: 50%;
}

.input-error {
	input {
		border: 2px solid $Red;
	}
	input::placeholder {
		color: $Red;
	}
}
.copied {
	background-color: $Dark-Violet;
}
.signup-section {
	form {
		.form-box.form-error {
			.error {
				display: block;
			}
			input {
				border: 2px solid $Red;
			}
		}
	}
}
