@import 'colors';
@import 'header';
@import 'advanced-statisctics';
@import 'boost-section';
@import 'footer';
@import 'buttons';
@import 'cards';
@import 'shorten-results';
@import 'menus';
@import 'special-classes';
@import 'signUp-window';
@import 'media-queries';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	max-width: 100vw;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background-color: #ffff;
}
.wrapper {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
